<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-subtitle>This Ticket is <b>{{this.ticket.isDone ? 'Closed' : 'Active'}}</b> Created: {{ticket.createdDateTime | date : "medium"}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!!ticket.assignToFullName && isAuthor">Assigned to <b>{{ticket.assignToFullName}}</b></mat-card-subtitle>
      <mat-card-title>
        <div [ngSwitch]="isEdit">
          <div *ngSwitchCase="false">
            Subject: {{ticket.subject}}
          </div>
          <div *ngSwitchCase="true">
            <mat-form-field appearance="fill">
              <mat-label>Subject</mat-label>
              <input matInput placeholder="Subject" [formControl]="form.controls.subject">
              <mat-error *ngIf="form.controls.subject.errors"
                         [innerHTML]="form.controls.subject.errors | controlErrors">
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div [ngSwitch]="isEdit">
      <div *ngSwitchCase="true">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" [formControl]="form.controls.description"></textarea>
          <mat-error *ngIf="form.controls.description.errors"
                     [innerHTML]="form.controls.description.errors | controlErrors">
          </mat-error>
        </mat-form-field>
      </div>
      <div class="description" *ngSwitchCase="false">
        <b>Description: </b>{{ticket.description}}
      </div>
    </div>

    <div *ngIf="!ticket.isDone && isAdmin">
      <mat-form-field appearance="fill">
        <mat-label>Select Manager</mat-label>
        <mat-select [(value)]="selectedManagerId">
          <mat-option value="{{-1}}">Not Assigned</mat-option>
          <mat-option
            *ngFor="let user of users trackBy: trackByFn;"
            value="{{user.id}}">{{user.fullName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="showSaveAssignButton()" mat-icon-button color="primary" aria-label="Edit comment"
              (click)="onAssign()">
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <mat-accordion *ngIf="!isEdit">
      <mat-expansion-panel (opened)="isShowComments = true"
                           (closed)="isShowComments = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comments
          </mat-panel-title>
          <mat-panel-description>
            Click to show/hide ticket comments.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <tm-ticket-comment-list-page *ngIf="isShowComments"
                                     [ticketId]="ticket.id"
                                     [isTicketDone]="ticket.isDone">
        </tm-ticket-comment-list-page>
      </mat-expansion-panel>
    </mat-accordion>

    <tm-add-ticket-comment *ngIf="!ticket.isDone" (createComment)="onCreateComment($event)"></tm-add-ticket-comment>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="isAuthor && !ticket.isDone">
    <div [ngSwitch]="isEdit">
      <div *ngSwitchCase="false">
        <button type="button" mat-button (click)="onClose()">Close</button>
        <button type="button" mat-button (click)="onEdit()">Edit</button>
        <button type="button" mat-button color="warn" (click)="onDelete()">Delete</button>
      </div>
      <div *ngSwitchCase="true">
        <button type="button" mat-button (click)="onSave()">Save</button>
        <button type="button" mat-button color="warn" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
