<div class="container">
  <h3 *ngIf="tickets.length === 0">No Tickets found</h3>
  <tm-ticket-list-item
    *ngFor="let ticket of tickets trackBy: trackByFn;"
    [ticket]="ticket"
    [isAuthor]="isAuthor(ticket)"
    [isAdmin]="isAdmin"
    [users]="users"
    [isEdit]="isEditing(ticket.id)"
    (delete)="onDelete($event)"
    (save)="onSave($event)"
    (createComment)="onCreateComment($event)"
    (assign)="onAssign($event)"
    (close)="onClose($event)"
    (edit)="onEdit($event)">
  </tm-ticket-list-item>
</div>
